<!DOCTYPE html>
<html>
  <head>
    <title>Digicv</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Upload your CV Details
    </button>
 
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Enter your CV Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%= simple_form_for Cv.new do |f| %>
            <div class="modal-body">
              <%= f.input :company, label: "What Company Did You Work For?" %>
              <br />
              <%= f.input :description, label: "What type of work did you do?" %>
              <br />
              <%= f.input :dates, label: "When did you work for the company?" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit 'Upload' , class: 'btn btn-danger' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
